:root {
	--main-color: #0346E4; /* 4f8cf7 */
	/*--main-color: #0f0f0f;*/
	--secondary-color: #2868ff;
	--nav-height: 60px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	color: #111;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

nav {
	background-color: #fff;
	width: 100%;
	height: var(--nav-height);
	position: fixed;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.3);
	transition: all 0.3s ease-in-out;
	line-height: var(--nav-height);
	z-index: 50;
}

nav .logo {
	width: 100px;
	display: inline-block;
	float: left;
	margin-left: 80px;
	font-weight: bold;
	font-size: 25px;
	color: var(--main-color);
	transition: all 0.3s ease-in-out;
}

nav .logo img {
	width: 200px;
	top: 10px;
	position: relative;
}



nav ul {
	list-style: none;
	float: right;
	margin-right: 20px;

}

nav ul li {
	display: inline-block;
	margin: 0 20px;
}

nav ul li:last-child a {
	color: var(--main-color);
	border: 2px solid var(--main-color);
	border-radius: 50px;
	padding: 6px 15px;
}

nav ul li a {
	text-decoration: none;
	font-weight: 600;
	color: #444;
	//transition: color 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
	color: var(--main-color);
}

nav ul li:last-child a:hover {
	color: #fff;
	background-color: var(--main-color);
}

nav.scrolled {
	background-color: var(--main-color);
}

nav.scrolled .logo {
	color: #fff;
} 

nav.scrolled ul li a {
	color: #fff;
}
.hero {
	height: 100vh;
	/*background-image: url("back1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom;*/
	display: flex;
	align-items: center;
	padding: 100px;
	justify-content: space-between;
	//flex-direction: row;
}

.hero-col {
	//flex: 1;
	display: flex;
}

.hero-col img {
	justify-content: flex-end;
}


.hero-content {
	//position: relative;
	//top: 40%;
	//left: 50%
	//transform: translate(-50%, -50%);
	opacity: 1;
	transition: all 1.2s ease-in-out;
	//text-align: left;
	max-width: 600px;
}
.loaded {
	//opacity: 1;
}
.hero-content h1 {
	font-size: 40px;
	margin-bottom: 30px;
}

.hero-content h3 {
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 2px;
	margin-bottom: 50px;
}

.hero-content a {
	padding: 12px 30px;
	/*background-color: var(--main-color);*/
	background: var(--main-color);
	font-weight: bold;
	color: #fff;
	border-radius: 50px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.hero-content a:hover {
	background: var(--secondary-color);
}


.portfolio {
	text-align: center;
	background-color: #f5f5f5;
	padding: 40px 40px 60px;
}

.portfolio h2 {
	margin-bottom: 15px;
}

.portfolio .gallery {
	padding: 40px 0 60px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	//max-width: 800px;
	margin: 0 auto;
}

.portfolio .gallery .img-block {
	transition: opacity 0.25s ease-in-out;
	margin: 3px;
	display: flex;
	cursor: pointer;
	position: relative;
}

.portfolio .gallery .img-block:hover .overlay{
	opacity: 1;
}

.portfolio .gallery .img-block .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 20;
	background-color: rgba(0,0,0,0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	opacity: 0;
	color: #fff;
	transition: all 0.25s ease-in-out;
}

.portfolio .gallery .img-block .overlay a {
	padding: 10px; 
	background-color: #010101;
	color: #ffffff;
	margin: 5px 5px;
	text-decoration: none;
	transition: background-color 0.2s ease-in-out;
}

.portfolio .gallery .img-block .overlay a:hover {
	background-color: #222;
}

.portfolio .gallery img {
	//margin: 5px;
	//max-width: 100%;
	//width: 250px;
	width: 100%;
}

.portfolio .image {
	display: flex;
}

.portfolio .image:hover ~ .portfolio .image:after {
	background-color: rgba(0,0,0,0.3);
	display: block;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	z-index: 50;
}

.portfolio .to-contact {
	text-decoration: none;
	//background-color: #010101;
	color: #111;
	padding: 10px 14px;
	font-weight: 500;
	transition: background-color 0.25s ease-in-out;
	border: 2px solid #010101;
}

.portfolio .to-contact:hover {
	background-color: #010101;
	color: #fff;
	//box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.newsletter {
	padding: 80px 40px;
	background-color: var(--main-color);
	color: #fff;
}


.footer {
	padding: 30px;
	background-color: #000;
	color: #fff;
	text-align: center;
}


.test {
	padding: 80px 20px;
	background-color: #f9f9f9;
	text-align: center;
}

.test h2 {
	color: #111;
	//margin-bottom: 50px;
}

.test h2:after {
	content: '';
	width: 60px;
	height: 3px;
	background-color: #111;
	position: relative;
	margin: 10px auto 15px;
	display: block;
}

.test p {
	margin: 0 auto 30px;
	max-width: 800px;
}

.test .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0 auto;
}

.test .row .col {
	background-color: #fff;
	padding: 30px 20px;
	border-radius: 2px;
	margin: 20px 0;
	flex: 30%;
	max-width: 30%;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	box-shadow: 0px 5px 15px rgba(10, 20, 30, 0.1);
}

.test .row .col h3 {
	margin-bottom: 10px;
}

.test .row .col img {
	width: 50px;
	margin-bottom: 15px;
}

.test .row .col p {
	margin: 0;
}

.test .row .col:hover {
	box-shadow: 0px 5px 15px rgba(10, 20, 30, 0.2);
	transform: translateY(-12px);
	color: var(--main-color);
}

.mind {
	padding: 60px 0;
	background: #f5f5fa;
	text-align: center;
}

.mind a {
	background: #171724;
	//padding: 8px 20px;
	display: block;
	margin: 0 auto;
	padding: 8px 0;
	width: 240px;
	letter-spacing: 2px;
	//font-size: 11px;
	text-decoration: none;
    color: #ffffff;
    transition: all 0.35s ease-in-out;
    opacity: 1;
}

.mind a span {
	transition: all 0.35s ease-in-out;
}

.mind a span:last-child {
	display: none;
	color: #111;
	font-weight: 600;
	opacity: 0;
}

.mind a:hover {
	background-color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	transform: perspective(500px) translateZ(20px);
}

.mind a:hover span:last-child {
	opacity: 1;
	display: initial;
}

.mind a:hover span:first-child {
	opacity: 0;
	display: none;
}

.quote {
	background-color: var(--main-color);
	//background: url('../img/back1.jpg');
	background-size: cover;
	background-position: bottom;
	padding: 50px 40px;
}

.quote-content {
	display: flex;
	justify-content: space-between;
	align-items: center;	
	flex-direction: column;
	max-width: 900px;
	margin: 0 auto;
	color: #fff;
}

.quote-content h3 {
	margin-bottom: 30px;
}

.quote-content a {
	color: #fff;
	text-decoration: none;
	font-weight: 600;
	padding: 10px 14px;
	border-radius: 50px;
	border: 2px solid #fff;
	transition: all 0.3s ease-in-out;
}

.quote-content a:hover {
	color: var(--main-color);
	background-color: #fff;
}

.full {
	height: 100vh;
	background-image: url('../img/back1.jpg');
	background-size: cover;
	background-position: bottom;
	display: flex;
	justify-content: center;
	align-items: center;
}

.full div {
	max-width: 500px;
	padding: 40px 30px 50px;
	background-color: rgba(255,255,255,0.8);
}

.full div h3 {
	margin-bottom: 30px;
	font-size: 26px;
}

/*
.menu {
	width: 100%;
	//background-color: lightgray;
	height: 160px;
}

.menu div {
	max-width: 960px;
	margin: 0 auto;
	background-color: #fff;
	height: 80px;
	box-shadow: -1px 4px 74px -16px rgba(0,0,0,.3);
	transform: translateY(-40px);
}
*/

.contact {
	text-align: center;
	padding: 40px 30px;
}

.contact form {
	max-width: 500px;
	margin: 30px auto;
	text-align: left;
}

.contact form input {
	width: 100%;
	display: block;
	padding: 10px;
	margin: 0 0 20px;
}

.contact form label {
	margin-bottom: 5px;
	display: block;
	font-weight: 500;
}
.contact form textarea {
	width: 100%;
	padding: 10px;
	height: 150px;
}

.contact form .btn-submit {
	background-color: var(--main-color);
	color: #fff;
	font-weight: 600;
	outline: none;
	border: none;
	max-width: 300px;
	padding: 15px 0;
	margin: 20px auto;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
	font-size: 16px;
}

.contact form .btn-submit:hover {
	background-color: #111;
}

.contact form input, .contact form textarea {
	border: 2px solid #111;
}

@media max-width(1200px) {
	
}

.tabs {
	position: relative;
	margin: 50px auto;
	width: 260px;
	height: 30px;
}

.tabs .animation {
	position: absolute;
	height: 100%;
	top: 0;
	background-color: #1abc9c;
	// width: 100px;
	border-radius: 50px;
	z-index: 0;
	transition: all 0.5s ease 0s;
}

.tabs .start-home, a:nth-child(1):hover~.animation {
	width: 50px;
	left: 10px;
}

.tabs .start-home, a:nth-child(2):hover~.animation {
	width: 50px;
	left: 70px;
}

.tabs .start-home, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 150px;
}

.tabs a {
	color: #111;
	text-decoration: none;
	line-height: 30px;
	margin: 0 10px;
	position: relative;
	display: inline-block;
	z-index: 1;
	text-align: center;
}

.tabs a:nth-child(1) {
	width: 50px;
}

.tabs a:nth-child(2) {
	width: 50px;
}

.tabs a:nth-child(3) {
	width: 80px;
}
